nav {
  height: 5rem;
  width: 100vw;
  background: var(--color-primary);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}

/* only shows on medium and small screens */
.nav__toggle-btn {
  display: none;
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 7rem;
}

.nav__links {
  display: flex;
  gap: 3.5rem;
  align-items: center;
}

.nav__links a {
  transition: var(--transition);
}

.nav__links a:hover {
  color: var(--color-secondary);
}

.active-nav {
  position: relative;
  color: var(--color-secondary);
}

.active-nav::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--color-primary);
  position: absolute;
  left: calc(50% - 0.6rem);
  transform: rotate(45deg);
  bottom: -2.5rem;
}

/* MEDIA QUERIES (MEDIUM AND SMALL SCREENS) */
@media (max-width:1024px) {
  .nav__toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav__toggle-btn svg {
    color: var(--color-gray-100);
  }
}