*,
* ::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-hue: 210;
  --gray-hue: 240;
  --color-primary: hsl(var(--primary-hue));
}